@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --orange: #ba3200;
    --lightorange: #ffe1d6;
    --lightblue: #e2f4ff;
    --darkgrey: #252d44;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "karla";
}

.main {
    height: 440svh;
    width: calc(100vw-30px);
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.background {
    width: 90rem;
    display: flex;
    flex-direction: column;
    margin: 0 40px;  
}

.navbar_menu_item {
    color: var(--orange);
    font-weight: 600;
}

.navbar_img_logo {
    filter: invert(35%) sepia(96%) saturate(5261%) hue-rotate(12deg) brightness(95%) contrast(98%);
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-headline {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start; */
}

.blog-headline-image {
    max-width: 100%;
}

.blog-headline-title{
    color: var(--orange);
    font-weight: 700;   
    font-size: 3rem;
    letter-spacing: -2px;
    margin-top: 60px;
    text-align: center;
}

.blog-headline-subtitle {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 15px;
}

.blog-text {
    width: 800px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.blog-grid-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: center;
}

.blog-grid-layout-reverse {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: center;
    /* margin-top: 30px; */
}

.blog-grid-image {
    max-width: 100%;
}

.blog-text-title {
    color: var(--orange);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -2px;
    margin-top: 30px;
}

.blog-text-paragraph {
    text-align: justify;
    font-size: 1.1rem;
    margin-top: 15px;
}

.blog-text-paragraph-focus {
    font-weight: 700;
    color: var(--orange);
    text-decoration: none;
}

.blog-text-image {
    margin-top: 15px;
}

.blog-text-list {
    text-decoration: none;
    margin-top: 15px;
}

.blog-text-list-item {
    font-size: 1.1rem;
    margin-top: 15px;
}

.blog-text-list-bullet {
    color: var(--orange);
    font-size: 1rem;
}

.blog-video {
    margin-top: 30px;
    border: solid 2px var(--orange);
    border-radius: 20px;
}

.blog-text-atividade {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.blog-text-atividade-button {
    padding: 5px 8px;
    color: var(--orange);
    border: solid var(--orange) 1.5px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    transition: .2s;
    flex-shrink: 0;
    flex-grow: 0;
}

.blog-text-atividade-button:hover {
    background-color: var(--lightorange);

}
.atividade-resposta {
    margin-left: 15px;
    display: none;
}

.blog-text-toplink {
    margin-top: 45px;
    font-size: .8rem;
    text-decoration: underline;
    color: var(--orange);
}