@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --blue: #ba3200;
    --lightorange: #ffe1d6;
    --lightblue: #e2f4ff;
    --darkgrey: #252d44;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "karla";
}

.footer {
    height: 18vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;

}

.footer_background {
    width: 90rem;
    display: flex;
    justify-content: space-between;
    margin:0px 40px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer_title {
    font-size: 1rem;
    color: var(--blue);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer_text {
    margin-bottom: 2px;
    text-decoration: none;
    color: black;
}

.footer_logo {
    width: 10rem;
    margin-bottom: 10px;
}