@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --blue: #ba3200;
    --lightorange: #ffe1d6;
    --lightblue: #e2f4ff;
    --darkgrey: #252d44;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "karla";
}


@media (max-width: 1130px) {
    /* .main {
        height: 60svh;
    } */

    .navbar_menu {
        gap: 40px
    }

    .hero_title{
        width: 400px;
        font-size: 3rem;
    }

    .patreons {
        height: 6rem;
    }

    .patreons_logo {
        width: 6rem;
    }
    

    .contato_title{
        font-size: 3rem;
    }

    .contato_description {
        font-size: 1rem;
    }
}


@media (max-height: 940px) {
    .hero {
        margin-top: 60px;
    }
}
