@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --orange: #ba3200;
    --lightorange: #ffe1d6;
    --lightblue: #e2f4ff;
    --darkgrey: #252d44;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "karla";
}

.main {
    height: 200svh;
    width: calc(100vw-30px);
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.background {
    width: 90rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin: 0 40px;  
}

.navbar_menu_item {
    color: var(--orange);
    font-weight: 600;
}

.navbar_img_logo {
    filter: invert(35%) sepia(96%) saturate(5261%) hue-rotate(12deg) brightness(95%) contrast(98%);
}

.aprendizado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aprendizado-text {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aprendizado_title{
    color: var(--orange);
    font-weight: 700;   
    font-size: 3rem;
    letter-spacing: -2px;
    margin-top: 60px;
}

.basico {
    display: flex;
    align-items: center;    
    margin-top: 30px;
}

.basico-line {
    width: 3px;
    height: 36px;
    background-color: var(--orange);
}

.basico-text {
    font-size: 2rem;
    color: var(--orange);
    margin-left: 18px;
    letter-spacing: -1px;
    font-weight: 400;
}

.aprendizado-cards-layout {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    column-gap: 40px;
    align-self: center;
}

.card {
    height: 250px;
    width: 250px;
    background-image: url(./assets/bg/card-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.card-title{
    color: var(--white);
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px var(--orange);

}

.card-subtitle{
    color: var(--white);
    margin-top: 60px;
    font-size: .8rem;
}

.card-star {
    width: 100px;
    align-self: flex-start;
    margin-top: 20px;
}