@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --blue: #ba3200;
    --lightorange: #ffe1d6;
    --lightblue: #e2f4ff;
    --darkgrey: #252d44;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "karla";
}

.main {
    height: 80svh;
    width: calc(100vw-30px);
    background-image: url(assets/bg/contato-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.background {
    width: 90rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin: 0 40px;  
}


.contato {
    display: flex;
    flex-direction: column;
}

.contato_text {
    margin-top: 60px;
}

.contato_title{
    color: var(--white);
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: -2px;
}

.contato_description {
    color: var(--white);
    width: 580px;
    font-size: 1.1rem;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;    
}

.form_info {
    display: flex;
    justify-content: space-between;
}

.form_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.form_input {
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

.form_label {
    color: var(--white);
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.messageLabel {
    font-size: .8rem;
    color: var(--darkgrey);
}

.messageBox {
    margin-top: 10px;
    padding: 10px;
    height: 7.5rem;
    border-radius: 5px;
    border-width: .5px;
    border-style: solid;
    border-color: var(--blue);
    outline: none;
    resize: none;
}

.border_change:hover {
    background-color: var(--lightorange);
    border: solid .5px var(--blue);
}

.charCount {
    align-self: flex-end;
    margin-top: 10px;
    font-size: .8rem;
    color: var(--white);
}
