@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --orange: #ba3200;
    --lightorange: #ffe1d6;
    --darkorange: #252d44;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "karla";
}

.main {
    height: 70svh;
    width: calc(100vw-30px);
    background-image: url(assets/bg/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.background {
    width: 90rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin: 0 40px;  
}

.hero {
    /* Display para conter um elemento por linha */
    display: block;
    margin-top: 120px;
}

.hero_title {
    width: 520px;
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: -2px;
    color: var(--white);
}

.hero_description {
    margin-top: 20px;
    color: var(--white);
}

.hero_description_gratuita {
    font-weight: 700;
}

.hero_link {
    /* Display inline-block, pq o padrão(inline) não aceita margens */
    display: inline-block; 
    padding: 8px 12px;
    margin-top: 20px;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 15px;
    font-weight: 700;
}

.patreons {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
}


.patreons_logo {
    width: 8rem;
}

.services {
    height: 70vh;
    width: calc(100vw-30px);
    background-image: url(assets/bg/services-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.services_background {
    width: 90rem;
    display: flex;
    flex-direction: column;
    margin:0px 40px;
}

.services_main{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.services_left {
    width: 30rem;
    align-self: center;
}

.services_right {
    align-self: center;
    width: 30rem;
}

.services_right_container {
    display: flex;
}

.services_right_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_right_icon {
    width: 4rem;
}

.services_right_text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.services_right_title {
    color: var(--white);
    position: relative;
    text-decoration: none;
    display: inline-block;
}
/*
.services_right_title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -8px;
    background-color: var(--blue);
}
*/

.services_right_description {
    color: var(--white);
    margin-top: 10px;
}